body {
  background-color: lightgrey;
}
/*.App {*/
/*text-align: center;*/
/*}*/

.App-logo {
  margin-top: -15px;
}

.App-header {
  background-color: white;
  height: 50px;
  padding: 20px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}
.main-container {
  height: 700px;
  /*border: solid 2px black;*/
}

.side-container {
  padding: 30px;
  text-align: center;
  height: 1000px;
  margin: 20px 20px 0px 0px;

  /*border: green solid 2px;*/
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.graph-container {
  height: 400px;
  margin-top: 20px;

  /*border: green solid 2px;*/
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.table-container {
  height: 600px;
  padding-top: 10px;
  margin-top: 20px;
  /*border: red solid 2px;*/
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.button-margin {
  margin: 2px 5px 2px 5px;
}
